@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;700&display=swap");
html {
  overflow-x: hidden;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

:root {
  --main-color: linear-gradient(45deg, #969090, #797272);
  --second-color: #2E3C69;
  --third-color: #e07f60;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.element-animation.element-show {
  opacity: 1 !important;
  transition: 1.5s;
  transform: translate(0%) !important;
}

.wrapp__header {
  overflow-x: hidden;
}

.wrapp__social {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px 0;
}
.wrapp__social .link__social {
  width: 42px;
  height: 42px;
  display: inline-block;
  margin: 3px 5px;
}
.wrapp__social .link__social img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapp__social .icon__burger {
  display: none;
}

.wrapp__menu {
  background: var(--second-color);
  min-height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapp__menu .close__icon {
  display: none;
}
.wrapp__menu .main__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 642px;
  width: 100%;
}
.wrapp__menu .main__menu a {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
}
.wrapp__menu .main__menu a:hover {
  text-decoration: underline;
}

.main__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfff2;
  background-image: url("../img/mbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 222px;
  height: 100vh;
}
.main__header .main__header-wrapp {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 0 0;
}
.main__header .main__header-wrapp .wrapp__text {
  max-width: 461px;
  padding: 0 10px;
  box-sizing: border-box;
  opacity: 0;
  animation: text__transform 3s forwards;
}
.main__header .main__header-wrapp .wrapp__text .desc_first {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  color: #000;
  margin: 20px 0;
}
.main__header .main__header-wrapp .wrapp__text .desc__second {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}
.main__header .main__header-wrapp .wrapp__text .btn {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background: #2E3C69;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  padding: 19px 39px;
}
.main__header .main__header-wrapp .wrapp__text .btn:hover {
  transition: 0.6s;
  box-shadow: 1px 0px 8px #2E3C69;
}
@keyframes text__transform {
  0% {
    transform: translate(-200vh);
    opacity: 0;
  }
  40% {
    transform: translate(0vh);
  }
  100% {
    opacity: 1;
  }
}

/*### OUR SECTION ####*/
.our {
  background: #fff;
  min-height: 730px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
.our .our__wrapp {
  max-width: 1600px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translate(100px);
}
.our .our__wrapp .our__image {
  max-width: 650px;
  max-height: 749px;
  overflow: hidden;
  position: relative;
}
.our .our__wrapp .our__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.our .our__wrapp .our__text-wrapp {
  max-width: 683px;
}
.our .our__wrapp .our__text-wrapp .page__title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  color: #302D2D;
  margin: 10px 0;
  max-width: 500px;
}
.our .our__wrapp .our__text-wrapp .people__name {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  color: #2378C9;
  margin: 10px 0;
}
.our .our__wrapp .our__text-wrapp .our__text-text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #6B6868;
  margin: 10px 0;
}

/*### ADVANT SECTION ###*/
.advant {
  background: #f3f0f0;
  min-height: 452px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
.advant__wrapp {
  max-width: 1600px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 3s;
  opacity: 0;
  transform: translate(-100px);
  margin: 10px 0;
}
.advant__wrapper {
  max-width: 326px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 8px;
}
.advant__icons {
  background: var(--second-color);
  border-radius: 100%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid #3a519a;
}
.advant__title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  text-align: center;
  margin: 24px 0 10px 0;
  text-wrap: balance;
}
.advant__text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-align: center;
  margin: 0;
  text-wrap: balance;
}

/*### PRICE SECTION ###*/
.price {
  min-height: 885px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../img/bgpsy.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  overflow-x: hidden;
  margin: 20px 0;
  box-sizing: border-box;
  padding: 0 15px;
}
.price__wrapp {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translate(-100px);
}
.price__wrapper {
  max-width: 630px;
  min-height: 268px;
  width: 100%;
  background: rgba(46, 60, 104, 0.7);
  border-radius: 4px;
}
.price__title {
  max-width: 500px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  color: #FFFFFF;
  text-align: center;
  margin: 35px auto;
}
.price__price {
  max-width: 300px;
  margin: 0 auto;
}
.price__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed #fff;
  box-sizing: border-box;
  padding: 10px 3px;
}
.price__text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  color: #FFFFFF;
  margin: 2px 0;
}

/*### REVIEW SECTION ###*/
.review {
  min-height: 690px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
  overflow-x: hidden;
}
.review__title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  color: #302D2D;
  padding: 0 15px;
  opacity: 0;
  transform: translate(100px);
}

.swiper {
  max-width: 1060px;
  display: flex !important;
  align-items: center;
  width: 100%;
  opacity: 0;
  transform: translate(100px);
}

.swiper-slide {
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.swiper-button-prev, .swiper-button-next {
  background: var(--second-color);
  padding: 8px;
  border-radius: 100%;
  width: 55px;
  height: 55px;
}

.swiper-pagination-bullet-active {
  background: var(--third-color) !important;
}

.swiper-pagination-bullet {
  background: #fff;
}

.wrapp__comment {
  max-width: 976px;
  margin: 0 auto;
  padding: 50px 80px;
  box-sizing: border-box;
  background: #3a519a;
  border-radius: 3px;
}
.wrapp__comment .comment {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.wrapp__comment .user__comment {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: var(--third-color);
}

/*### ENROLL SECTION ###*/
.enroll {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #f3f0f0;
  min-height: 720px;
}
.enroll__wrapp {
  padding: 0 15px 15px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.enroll__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 425px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 2px rgba(108, 108, 108, 0.25);
  border-radius: 3px;
  min-height: 474px;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-150px);
}
.enroll__form input {
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  padding: 19px 92px 19px 15px;
  margin: 0 0 10px 0;
}
.enroll__form input::-moz-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #B9B9B9;
}
.enroll__form input::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #B9B9B9;
}
.enroll__form .btn__submit {
  background: var(--second-color);
  outline: none;
  border: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 20px 75px;
  cursor: pointer;
}
.enroll__form .btn__submit:hover {
  transition: 0.6s;
  box-shadow: 1px 0px 8px #2E3C69;
}
.enroll__title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #302D2D;
  margin: 0 0 32px 0;
}
.enroll__image {
  max-width: 400px;
  max-height: 588px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translate(150px);
}
.enroll__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.enroll__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}
.enroll__overlay img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*### FOOTER ###*/
footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 20px;
  background: var(--second-color);
}
footer .wrapp__footer {
  max-width: 959px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .copyright {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

.footer__social-wrapp {
  display: flex;
}
.footer__social-wrapp .footer__link-social {
  width: 52px;
  height: 52px;
  display: inline-block;
  margin: 3px 5px;
}
.footer__social-wrapp .footer__link-social img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 991px) {
  .wrapp__social .icon__burger {
    display: flex;
    align-items: center;
    background: var(--second-color);
    height: 49px;
    position: fixed;
    top: 0;
    right: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    z-index: 2;
  }
  .wrapp__social .icon__burger span {
    padding: 0 10px;
  }
  .wrapp__social .icon__burger img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .wrapp__menu {
    position: absolute;
    right: 0;
    top: 0;
    min-height: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 16px;
    transform: translate(140vh);
    transition: 0.6s;
  }
  .wrapp__menu .close__icon {
    display: block;
  }
  .wrapp__menu .main__menu {
    flex-direction: column;
    max-width: 300px;
  }
  .wrapp__menu .main__menu a {
    margin: 13px 0;
  }
  .advant__wrapp {
    justify-content: center;
  }
  .price {
    background-image: none;
    min-height: auto;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none !important;
  }
  .enroll__image {
    display: none;
  }
}
@media (max-width: 500px) {
  .main__header .main__header-wrapp .wrapp__text .desc_first {
    font-size: 45px;
  }
  .our {
    min-height: inherit;
  }
  .our .our__wrapp .our__image {
    max-width: 340px;
  }
  .our .our__wrapp .our__text-wrapp {
    max-width: 683px;
  }
  .our .our__wrapp .our__text-wrapp .page__title {
    font-size: 40px;
    max-width: 460px;
  }
  .our .our__wrapp .our__text-wrapp .people__name {
    font-size: 40px;
  }
  .wrapp__comment {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */